# heplpers/ - hellpers directory
# **/logs - all logs directory
# *.log - all log files 
# helpers/**/*.js - all .js files in hepers directory


# ignore all js files in helpers/ but not in helper3 directory
# helpers/**/*.js
# !helpers/helper3/*.js

# logs/errorlog[1-7].log
# logs/errorlog[a-z].log - errorloga,errorlogx

apache/
helpers/
logs/